@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #000814;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #001d3d;
  padding: 25px 20px;
  transition: all 0.4s ease;
}

.sidebar__header {
  display: flex;
  align-items: center;
}

.sidebar__header img {
  width: 60px;
  object-fit: cover;
}

.sidebar__header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar__links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar__links::-webkit-scrollbar {
  display: none;
}

.sidebar__links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  border-radius: 16px;
  font-weight: 500;
  white-space: nowrap;
  padding: 18px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar__links li a:hover {
  color: #161a2d;
  background: #ffc300;
  border-radius: 16px;
}

.contactBtn{
  color: #161a2d;
  background: #ffc300;
  border-radius: 16px;
}

.main-content {
  margin-left: 260px;
  padding: 20px;
  color: white;
}

.main-content .box1 {
  width: 100%;
  height: 19%;
  color: white;
}
.main-content .box1 h1 {
  padding-top: 25px;
  padding-left: 20px;
  margin: 0;
  font-size: 48px;
}
.main-content .box1 p {
  padding-top: 7px;
  padding-left: 20px;
  margin: 0;
  font-size: 18px;
}
.main-content .box2 {
  width: 96.5%;
  border-radius: 9px;
  background-color: #1a1a1a;
  margin: auto;
}
.main-content .box2 .pro {
  width: 90%;
  margin: auto;
  height: 145px;
  display: flex;
  border-bottom: 1px solid white;
}
.main-content .box2 .pro .pic {
  width: 28%;
  height: 85%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.main-content .box2 .pro .pic img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 50% !important;
}
.main-content .box2 .pro .des {
  width: 65%;
  height: 30%;
  padding: 10px 0;
  color: white;
}
.main-content .box2 .pro .des h1 {
  margin: 0;
  padding-top: 10px;
}
.main-content .box2 .pro .des p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 12px;
  color: rgb(186, 186, 186);
}
.main-content .box2 .pro .des button {
  background-color: #66671a;
  color: white;
  padding: 4px 9px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.main-content .box2 .pro .des button:hover {
  background-color: #7d7d55;
}
.main-content .box2 .item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.main-content .box2 .item .item1 {
  width: 45%;
  height: 110px;
  padding: 20px;
  box-sizing: border-box;
  /* background-color: red; */
  border-radius: 7px;
}
.main-content .box2 .item .item1 label {
  color: white;
  width: 100%;
  margin: 0;
  font-size: 25px;
}
.main-content .box2 .item .item1 input {
  margin-top: 10px;
  background-color: #1a1a1a;
  border: 2px solid rgba(255, 255, 255, 0.687);
  margin-top: 7px;
  width: 80%;
  padding: 10px 32px;
  border-radius: 5px;
  color: white;
}
.main-content .box2 .item .item1 .btn {
  width: 35%;
  margin-left: 65%;
  padding: 6px 0;
  border-radius: 20px;
  color: white;
  background-color: #24327d;
}
.main-content .box2 .item .item1 .btn span {
  border: 2px solid #021473;
  padding: 5px 7px;
  border-radius: 50%;
  margin: 0;
}
.main-content .box2 .item .item1 .btn:hover {
  background-color: #151e4d;
  cursor: pointer;
}
.main-content .img {
  width: 100%;
  margin-top: 20px;
}
.main-content .img img {
  width: 100%;
  object-fit: cover;
}
.main-content .box2 .item .item2 {
  width: 95%;
  margin: auto;
  height: 180px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 7px;
}
.main-content .box2 .item .item2 label {
  color: white;
  width: 100%;
  margin: 0;
  font-size: 25px;
}
.main-content .box2 .item .item2 textarea {
  margin-top: 10px;
  background-color: #1a1a1a;
  border: 2px solid rgba(255, 255, 255, 0.687);
  margin-top: 7px;
  width: 95%;
  height: 90px;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}
.main-content .box2 .item .mes {
  width: 100%;
  margin-top: 10px;
}
.main-content .box2 .item .mes button {
  background-color: rgb(173, 20, 20);
  color: white;
  padding: 9px 28px;
  cursor: pointer;
  margin-left: 80%;
  border-radius: 8px;
  border: none;
}
