@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: #000814;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #001d3d;
  padding: 25px 20px;
  transition: all 0.4s ease;
}

.sidebar__header {
  display: flex;
  align-items: center;
}

.sidebar__header img {
  width: 60px;
  object-fit: cover;
}

.sidebar__header h2 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  white-space: nowrap;
  margin-left: 23px;
}

.sidebar__links {
  list-style: none;
  margin-top: 20px;
  height: 80%;
  overflow-y: auto;
  scrollbar-width: none;
}

.sidebar__links::-webkit-scrollbar {
  display: none;
}

.sidebar__links li a {
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #fff;
  border-radius: 16px;
  font-weight: 500;
  white-space: nowrap;
  padding: 18px 10px;
  text-decoration: none;
  transition: 0.2s ease;
}

.sidebar__links li a:hover {
  color: #161a2d;
  background: #ffc300;
  border-radius: 16px;
}

.settingsBtn{
  color: #161a2d;
  background: #ffc300;
  border-radius: 16px;
}

.main-content {
  margin-left: 260px;
  padding: 20px;
  color: white;
  width: 80%;
  height: 97.5vh;
  background-color: black;
}
.box1 {
  width: 100%;
  height: 17%;
  color: white;
}
.main-content .box1 h1 {
  padding-top: 25px;
  padding-left: 20px;
  margin: 0;
  font-size: 48px;
}
.main-content .box1 p {
  padding-top: 7px;
  padding-left: 20px;
  margin: 0;
  font-size: 18px;
}
.main-content .box2 {
  width: 96.5%;
  border-radius: 9px;
  margin: auto;
}
.main-content .box2 .pro {
  width: 90%;
  margin: auto;
  height: 145px;
  display: flex;
  border-bottom: 1px solid white;
}
.main-content .box2 .pro .pic {
  width: 28%;
  height: 85%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.main-content .box2 .pro .pic img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  border-radius: 50% !important;
}
.main-content .box2 .pro .des {
  width: 65%;
  height: 30%;
  padding: 10px 0;
  color: white;
}
.main-content .box2 .pro .des h1 {
  margin: 0;
  padding-top: 10px;
}
.main-content .box2 .pro .des p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 12px;
  color: rgb(186, 186, 186);
}
.main-content .box2 .pro .des button {
  background-color: #66671a;
  color: white;
  padding: 4px 9px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.main-content .box2 .pro .des button:hover {
  background-color: #7d7d55;
}
.main-content .box2 .item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
  box-sizing: border-box;
  gap: 80px;
}
.main-content .box2 .item .item1 {
  width: 45%;
  height: 300px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #303030;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.main-content .box2 .item .item1:hover {
  background-color: rgba(255, 255, 255, 0.285);
}
.main-content .box2 .item .item1 .imgbox {
  width: 100%;
  height: 57%;
}
.main-content .box2 .item .item1 .imgbox img {
  width: 20%;
  margin-top: 10px;
  margin-left: 39%;
  object-fit: cover;
}
.main-content .box2 .item .item1 h1 {
  color: white;
  margin: 0;
  font-size: 29px;
  padding-bottom: 5px;
}
.main-content .box2 .item .item1 p {
  color: rgb(176, 176, 176);
  margin: 0;
  padding-bottom: 5px;
}
.main-content .box2 .item .item1 .btn {
  width: 35%;
  margin-left: 65%;
  padding: 6px 0;
  border-radius: 20px;
  color: white;
  background-color: #24327d;
}
.main-content .box2 .item .item1 .btn span {
  border: 2px solid #021473;
  padding: 5px 7px;
  border-radius: 50%;
  margin: 0;
}
.main-content.box2 .item .item1 .btn:hover {
  background-color: #151e4d;
  cursor: pointer;
}
.main-content .img {
  width: 100%;
  margin-top: 40px;
}
.main-content .img img {
  width: 100%;
  object-fit: cover;
}
.main-content .box2 .item .item3 {
  width: 100%;
  height: 300px;
  padding: 50px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #303030;
  border-radius: 25px;
  display: flex;
  transition: 0.3s;
}
.main-content .box2 .item .item3:hover {
  background-color: rgba(255, 255, 255, 0.285);
}
.main-content .box2 .item .item3 .imgbox {
  height: 100%;
  width: 47%;
}
.main-content .box2 .item .item3 .imgbox img {
  width: 50%;
  margin-left: 10%;
  
}
.main-content .box2 .item .item3 h1 {
  color: white;
  width: 100%;
  margin-top: 20px;
  font-size: 40px;
  padding-bottom: 5px;
}
.main-content .box2 .item .item3 p {
  color: rgb(176, 176, 176);  
  font-size: 22px;
  padding-bottom: 5px;
}

